{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'iniciarSesion/style.css' %}">
</head>
<body>
    <div class="container">
        <div class=" container-hijo">
        <h2>Bienvenido</h2>
        {% if error %}
            <div class="error">❌ {{ error }}</div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <h4>Usuario</h4>
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input type="text" name="username" placeholder="Nombre de usuario" required>
            </div>
            <h4>Contraseña</h4>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
    <div class="img">
        <img src="{% static 'iniciarSesion/FotoStockEdificio.png' %}">
    </div>
    </div>
</body>
</html>
