{% extends "base.html" %}
{% load tailwind_tags %}

{% block scripts %}
{% endblock %}


{% block content %}

<section class="propietario p-6 rounded-lg shadow-md relative flex justify-center">

  
  <div class="w-fit bg-white rounded-lg shadow-md mb-10 ">  

    <div class="flex flex-wrap flex-column">

    <div class="p-20 pb-5 pr-10 pl-10">

    <div class="mb-4 flex-row flex justify-between">

        <!-- Aquí va el nombre de la residencia -->
        <h2 class="text-xl font-bold mb-5 pr-64">{{edif.nombre_edif}}</h2>

        <!-- Aquí va el RIF de la residencia -->
        <h1 class="text-l font-bold mb-5"> Rif: J-{{edif.rif}}</h1>
    </div>

    <div class="mb-4">
        
        <!-- Aquí va la dirección de la residencia -->
        <h1 class="text-l font-bold mb-5">{{edif.direccion_edif}}</h1>
    </div>

    <div class="mb-4 mt-10 flex flex-row justify-center">
        <!-- Aquí va el mes del recibo -->
        <h2 class="text-l font-bold mb-5">Fecha del recibo de condominio: {{fecha_escrita}}</h2>

    </div>

    <div class="pb-0 pl-0 border border-gray-500 rounded-lg bg-white">

        <div class="w-full flex flex-row justify-around">
            
            <div class=" flex flex-row justify-center border border-transparent border-r-gray-500 pr-8">
                <!-- Acá va el nombre del propietario -->
                <h1 class="text-l font-bold my-3 mr-3">Propietario: {{prop.nombre_prop}}</h1>

            </div>

            <div class="flex flex-row justify-center border border-transparent border-r-gray-500 pr-14">
                <!-- Acá va la alícuota -->
                <h1 class="text-l font-bold my-3 mr-3">Alícuota: {{dpto.alicuota}}%</h1>

            </div>

            <div class=" flex flex-row justify-center pr-6">
                <!-- Acá va el departamento -->
                <h1 class="text-l font-bold my-3 mr-3">Apartamento: {{dpto.id_dpto}}</h1>

            </div>

        </div>
        

        <div class=" pl-5 border border-gray-800 flex flex-row justify-between bg-gray-300">

            <div class=" flex flex-row">
                <h1 class="text-l font-bold my-3 mr-2"></h1>
            
                <!-- Acá va el mes siguiente del recibo -->
                <h1 class="text-l font-bold my-3">Presupuesto para el mes de {{mes_siguiente}}, {{ano_siguiente}}</h1>

            </div>

        </div>

        <!-- Aquí va cada campo de presupuesto, siguiendo la siguiente estructura: -->

        {% for monto in monto_presupuestos %}
            <div class="px-5 flex flex-row justify-between">

                <h1 class="text-l font-bold my-3">{{monto.titulo}}</h1>
                <h1 class="text-l font-bold my-3">{{monto.monto}}</h1>

            </div>
        {% endfor %}

        <!-- Aquí empieza la sección de presupuesto -->
         
        <div class=" pl-5 border border-b-500 border-transparent pr-5 flex flex-row justify-between bg-gray-200">

            <!-- Aquí va el mes siguiente al recibo -->
            <h1 class="text-l font-bold my-3">Subtotal presupuesto:</h1>

            <!-- Aquí va el subtotal del presupuesto para el mes -->
            <h1 class="text-l font-bold my-3">{{subtotal}}$</h1>


        </div>

        <div class="flex flex-row justify-between px-5 bg-gray-200">

            <h1 class="text-l font-bold my-3">Fondo de reserva 50%:</h1>

            <!-- Aquí va el fondo de reserva 50% -->
            <h1 class="text-l font-bold my-3">{{reserva}}$</h1>


        </div>

        <div class=" px-5 border-transparent flex flex-row justify-between bg-gray-200">

            <h1 class="text-l font-bold my-3">Fondo para gastos imprevistos:</h1>

            <!-- Aquí van los fondos para gastos imprevistos -->
            <h1 class="text-l font-bold my-3">{{fondo}}$</h1>


        </div>

        
        <div class=" px-5 border border-b-gray-500 border-transparent flex flex-row justify-between bg-amber-200">

            <h1 class="text-l font-bold my-3">Total presupuesto para {{mes_siguiente}}</h1>

            <!-- Aquí va el presupuesto total del mes siguiente al recibo -->
            <h1 class="text-l font-bold my-3">{{total}}$</h1>


        </div>


        <div class="border-2 border-gray-800 flex flex-row justify-between px-5">

            <h1 class="text-l font-bold my-3">Alícuota de su apartamento (correspondiente a los gastos comunes): </h1>

            <!-- Aquí va el porcentaje de la alícuota que representa o que ocupa el apartamento del propietario -->
            <h1 class="text-l font-bold my-3">{{dpto.alicuota}}%</h1>

            <!-- Acá primero va la moneda en la que está el costo y después va el monto como tal (de la alícuota) -->
            <h1 class="text-l font-bold my-3">{{total_alicuota}}$</h1>



        </div>

        <!-- Aquí empieza la sección de gastos directos -->

        <div class="border border-b-gray-500 flex flex-row justify-between pl-5 bg-gray-300">

            <h1 class="text-l font-bold my-3">Gatos directos de su apartamento</h1>

        </div>

        <!-- Aquí va cada campo de gastos directos, siguiendo la siguiente estructura: -->

        {% for monto in monto_directos %}
            <div class="px-5 flex flex-row justify-between">

                <h1 class="text-l font-bold my-3">{{monto.titulo}}</h1>
                <h1 class="text-l font-bold my-3">{{monto.monto}}</h1>

            </div>
        {% endfor %}

        <div class="border border-y-gray-500 px-5 flex flex-row justify-between">

            <h1 class="text-l font-bold my-3">Total gatos directos de su apartamento:</h1>

            <!-- Aquí va el monto (que sería la suma de todos los montos anteriores) -->
            <h1 class="text-l font-bold my-3">{{suma_directos}}$</h1>

        </div>

        <div class="border-2 border-gray-800 px-5 flex flex-row justify-between items-center">

            <h1 class="text-l font-bold my-3 max-w-xl">Total alícuota más gastos directos de su apartamento correspondiente al mes de: {{mes_siguiente}}, {{ano_siguiente}}</h1>

            <!-- Aquí va primero la moneda en la que está el monto y luego el monto en sí (que sería la suma de todos los montos de los gastos directos incluyendo la alícuota) -->
            <h1 class="text-l font-bold my-3">{{totales}}$</h1>

        </div>

        <div class="border border-b-gray-500 px-5 flex flex-row justify-between">

            <h1 class="text-l font-bold my-3 text-red-600">Atrasos (monto contable de recibos no pagados al cierre del mes)</h1>

            <!-- Aquí va primero la moneda en la que está el monto y luego el monto en sí (que sería la suma de todos los montos de los gastos directos incluyendo la alícuota) -->
            <h1 class="text-l font-bold my-3 text-red-600">{{deudaFinal}}$</h1>

        </div>

        <div class="border border-b-gray-500 px-5 flex flex-row justify-between" style="background-color: #ffff00;">

            <h1 class="text-l font-bold my-3">Total a pagar (Alícuota más acumulado por pagar de su apartamento):</h1>

            <!-- Aquí va primero la moneda en la que está el monto y luego el monto en sí (que sería la suma de todos los montos de los gastos directos incluyendo la alícuota) -->
            <h1 class="text-l font-bold my-3">{{totalPagar}}$</h1>

        </div>
        {% for comentario in comentarios %}
            <div class=" pl-5 border border-b-gray-500 pr-5 flex flex-col items-center text-center">

                <h1 class="text-l font-bold my-3 max-w-2xl">{{comentario.desc_comentario}}</h1>

            </div>
        {% endfor %}
        
    </div>


  </div> 
</section>

{% endblock %}