{% extends "base.html" %}
{% load tailwind_tags %}
{% load static %}

{% block scripts %}
<script>
    function validateEmail() {
        var emailInput = document.getElementById('correo');
        emailInput.setCustomValidity('');

        if (!emailInput.validity.valid) {
            emailInput.setCustomValidity('Por favor, introduce un correo electrónico válido.');
        }
    }

    function toggleDropdown() {
        const dropdown = document.getElementById('correoDropdown');
        dropdown.classList.toggle('hidden'); // Alterna la clase 'hidden'
    }
</script>
{% endblock %}

{% block content %}

<section class="propietario p-6 bg-white rounded-lg shadow-md relative flex justify-center">

  
  <div class="flex-row flex-wrap w-fit bg-gray-300 rounded-lg shadow-md mb-64 ">  

    <div class="flex flex-wrap ">

    <div class="p-20 pb-5">

    <div class="mb-4">
        <h2 class="text-xl font-bold mb-5">Propietario:</h2>
        <button onclick="toggleDropdown()" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
            Seleccionar propietario
        </button>
        <div class="hidden absolute z-10 w-48 rounded-md shadow-lg mt-2">
            <ul class="list-none inline-flex flex-col bg-white border border-gray-200 rounded-md">
                {% for correo in correos %}
                <li class="hover:bg-gray-100">
                    <div class="inline-flex w-max items-center p-2 ">
                        <span class="mr-2">{{ correo.correo }}</span>
                        <form method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="correo_id" value="{{ correo.correo }}">
                            <button type="submit" name="delete_correo" class="p-2">
                                <img src="{% static 'gestion_propietario/delete.svg' %}" alt="Eliminar" class="h-4 w-4 inline object-cover">
                            </button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    </div>

    <div class="p-20 pb-10 pl-15 pr-20">

        <h2 class="text-2xl font-bold mb-6 ">
            Propietario: {{ propietario.nombre_prop }}
        </h2>
    
        <form method="post" class="mb-4">
            {% csrf_token %}
            {{ propietario_form.as_p }}
            <button type="submit" name="edit_nombre"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded my-6">
                Guardar Nombre
            </button>
        </form>
    
        </div>

    </div>

    <div class="flex flex-wrap">

    <div class="p-20 pt-5 pb-10">
        <h3 class="text-xl font-bold my-8">Agregar Correo:</h3>
            <form method="post">
            {% csrf_token %}
            {{ correo_form.as_p }}
                <button type="submit" name="add_correo"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded my-5">Agregar</button>
            </form>
    </div>

    <div class="p-20 pb-10 pl-5 pr-48 pt-12">

        <div class="mb-4">
            <h2 class="text-xl font-bold mb-5">Correos:</h2>
            <button onclick="toggleDropdown()" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
                Correos registrados
            </button>
            <div id="correoDropdown" class="hidden absolute z-10 w-48 rounded-md shadow-lg mt-2">
                <ul class="list-none inline-flex flex-col bg-white border border-gray-200 rounded-md">
                    {% for correo in correos %}
                    <li class="hover:bg-gray-100">
                        <div class="inline-flex w-max items-center p-2 ">
                            <span class="mr-2">{{ correo.correo }}</span>
                            <form method="post" class="inline">
                                {% csrf_token %}
                                <input type="hidden" name="correo_id" value="{{ correo.correo }}">
                                <button type="submit" name="delete_correo" class="p-2">
                                    <img src="{% static 'gestion_propietario/delete.svg' %}" alt="Eliminar" class="h-4 w-4 inline object-cover">
                                </button>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>

    </div>

  </div> 
</section>

{% endblock %}