{% extends "base.html" %}
{% load tailwind_tags %}

{% block scripts %}
<script>

</script>
{% endblock %}


{% block content %}

<section class="propietario p-6 bg-white rounded-lg shadow-md relative flex justify-center">

  
    <div class="flex-row flex-wrap w-fit bg-gray-300 rounded-lg shadow-md mb-10">  


    <div class="p-20 pb-5 pr-8 pl-32 flex-row flex">

        <div class="mb-4">
            <h2 class="text-xl font-bold mb-5">Departamento:</h2>
        </div>



        <div class="p-20 pb-0 pl-0 pr-48 pt-7">

            <div class="mb-4">
                <h2 class="text-xl font-bold mb-5">Correos:</h2>
                <button class="bg-indigo-900 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded">
                Correos registrados
                </button>
                
            </div>
        </div>

    </div>

    </div> 
</section>

{% endblock %}