{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script>
    function validateForm(event) {
        const fileInput = document.getElementById('id_foto_edif')
        if (!fileInput.files.length) {
            event.preventDefault()
            alert('Por favor, seleccione un archivo antes de guardar los cambios.')
        }
    }

    function triggerFileUpload() {
        document.getElementById('file-upload').click();
    }

    function updateFileName() {
        const fileInput = document.getElementById('file-upload');
        const fileNameDisplay = document.getElementById('file-name');

        if (fileInput.files.length > 0) {
            fileNameDisplay.textContent = fileInput.files[0].name;
        } else {
            fileNameDisplay.textContent = 'Ningún archivo seleccionado';
        }
    }
</script>
{% endblock %}

{% block content %}
<section class="propietario p-6 rounded-lg relative flex justify-center">
    <div class="flex-row flex-wrap w-fit bg-gray-300 rounded-lg shadow-md">  
        <div class="flex flex-wrap">
            <div class="p-20 pb-20 pr-32 pl-32">
                <h1 class="text-2xl font-bold mb-5">Editar Edificio: {{ edificio.nombre_edif }}</h1>
                
                {% if foto_url %}
                    <div class="mb-4">
                        <label for="id_nombre_edif" class="block text-sm font-medium text-gray-700">Imagen del Edificio:</label>
                        <img src="{{ foto_url }}" alt="Foto de {{ edificio.nombre_edif }}" class="rounded-lg shadow-md" />
                    </div>
                {% endif %}
            
                
                <form method="POST" enctype="multipart/form-data" onsubmit="validateForm(event)">
                    {% csrf_token %}
                    
                    <div class="mb-4">
                        <label for="id_nombre_edif" class="block text-sm font-medium text-gray-700">Nombre del Edificio:</label>
                        <input type="text" id="id_nombre_edif" name="nombre_edif" value="{{ edificio.nombre_edif }}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" required>
                    </div>

                    <div class="mb-4">
                        <label for="id_rif" class="block text-sm font-medium text-gray-700">RIF:</label>
                        <input type="text" id="id_rif" name="rif" value="{{ edificio.rif }}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" required>
                    </div>

                    <div class="mb-4">
                        <label for="id_direccion_edif" class="block text-sm font-medium text-gray-700">Dirección:</label>
                        <input type="text" id="id_direccion_edif" name="direccion_edif" value="{{ edificio.direccion_edif }}" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" required>
                    </div>

                    <div class="mb-4">
                        <label for="id_foto_edif" class="block text-sm font-medium text-gray-700">Foto del Edificio:</label>
                        <button type="button" id="upload-button" class="bg-indigo-900 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded" onclick="triggerFileUpload()">Seleccionar archivo</button>
                        <input id="file-upload" type="file" style="display: none;" onchange="updateFileName()" name="foto_edif">
                        <span id="file-name">Ningún archivo seleccionado</span>
                    </div>

                    <div class="flex justify-end mt-4">
                        <button type="submit" class="bg-indigo-900 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}