{% extends "baseGenerar.html" %}
{% load tailwind_tags %}

{% block scripts %}
<script>


</script>


{% endblock %}

{% block content %}

<section class="propietario p-6 rounded-lg relative flex justify-center">

  
  <div class="flex-row flex-wrap w-fit bg-white rounded-lg shadow-md mb-10 p-10" style="width: 60rem;">

    <!-- Sección de presupuesto -->

    <div class="mb-5">

        <div class="mb-4">

            <h2 class="text-2xl mb-5 font-bold">Presupuesto para el mes siguiente</h2>

            <h2 class="text-lg mb-5">Acá debería ir el field para agregar presupuesto</h2>

            <button class="bg-indigo-900 hover:bg-blue-900 text-white py-2 px-4 rounded hover:font-semibold" style="width: 16rem;">
                Agregar presupuesto
            </button>

        </div>
    
    </div>

    <div class="bg-white shadow-md rounded-lg p-6 w-full mb-10">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Presupuesto</h2>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Descripción</th>
                        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Monto</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Aquí va cada fila, hay 2 ejemplos de filas -->

                    <!-- Primer ejemplo -->

                    <tr class="hover:bg-gray-50 transition duration-200">
                        <td class="border px-4 py-2 text-sm text-gray-700">Sis</td>
                        <td class="border px-4 py-2 text-sm text-gray-700">NOn</td>
                    </tr>

                    <!-- Segundo ejemplo -->

                    <tr class="hover:bg-gray-50 transition duration-200">
                        <td class="border px-4 py-2 text-sm text-gray-700">Non</td>
                        <td class="border px-4 py-2 text-sm text-gray-700">SIs</td>
                    </tr>


                </tbody>
            </table>
        </div>
                


    </div> 


    <!-- Sección de gastos directos -->

    <div class="mb-5">

        <div class="mb-4">

            <h2 class="text-2xl mb-5 font-bold">Gastos directos de cada departamento en el mes de *mes*</h2>

            <h2 class="text-lg mb-5">Acá debería ir el field para agregar el gasto</h2>

            <button class="bg-indigo-900 hover:bg-blue-900 text-white py-2 px-4 rounded hover:font-semibold" style="width: 16rem;">
                Agregar gasto directo
            </button>

        </div>
    
    </div>

    <div class="bg-white shadow-md rounded-lg p-6 w-full mb-10">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Gastos directos</h2>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Descripción</th>
                        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Monto</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Aquí va cada fila, hay 2 ejemplos de filas -->

                    <!-- Primer ejemplo -->

                    <tr class="hover:bg-gray-50 transition duration-200">
                        <td class="border px-4 py-2 text-sm text-gray-700">Sis</td>
                        <td class="border px-4 py-2 text-sm text-gray-700">NOn</td>
                    </tr>

                    <!-- Segundo ejemplo -->

                    <tr class="hover:bg-gray-50 transition duration-200">
                        <td class="border px-4 py-2 text-sm text-gray-700">Non</td>
                        <td class="border px-4 py-2 text-sm text-gray-700">SIs</td>
                    </tr>


                </tbody>
            </table>
        </div>
                


    </div> 


    <!-- Sección de gastos aplicados -->

    <div class="mb-5">

        <div class="mb-4">

            <h2 class="text-2xl mb-5 font-bold">Gastos aplicados en el mes de *mes*</h2>

            <h2 class="text-lg mb-5">Acá debería ir el field para agregar el gasto</h2>

            <button class="bg-indigo-900 hover:bg-blue-900 text-white py-2 px-4 rounded hover:font-semibold" style="width: 16rem;">
                Agregar gasto aplicado
            </button>

        </div>
    
    </div>

    <div class="bg-white shadow-md rounded-lg p-6 w-full mb-10">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Gastos aplicados</h2>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Descripción</th>
                        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Monto</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Aquí va cada fila, hay 2 ejemplos de filas -->

                    <!-- Primer ejemplo -->

                    <tr class="hover:bg-gray-50 transition duration-200">
                        <td class="border px-4 py-2 text-sm text-gray-700">Sis</td>
                        <td class="border px-4 py-2 text-sm text-gray-700">NOn</td>
                    </tr>

                    <!-- Segundo ejemplo -->

                    <tr class="hover:bg-gray-50 transition duration-200">
                        <td class="border px-4 py-2 text-sm text-gray-700">Non</td>
                        <td class="border px-4 py-2 text-sm text-gray-700">SIs</td>
                    </tr>


                </tbody>
            </table>
        </div>
                


    </div>


    <!-- Sección de fondo para gastos imprevistos -->

    <div class="mb-5">

        <div class="mb-4">

            <h2 class="text-2xl mb-5 font-bold">Fondo para gastos imprevistos en el mes de *mes*</h2>

            <h2 class="text-lg mb-5">Acá debería ir el field para agregar el fondo</h2>

            <button class="bg-indigo-900 hover:bg-blue-900 text-white py-2 px-4 rounded hover:font-semibold" style="width: 16rem;">
                Establecer fondo
            </button>

        </div>
    
    </div>

    <div class="bg-white shadow-md rounded-lg p-6 w-full mb-10">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Fondo para gastos imprevistos</h2>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Monto</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Aquí va la única fila -->

                    <tr class="hover:bg-gray-50 transition duration-200">
                        <td class="border px-4 py-2 text-sm text-gray-700">monto</td>
                    </tr>


                </tbody>
            </table>
        </div>
                


    </div>



    <!-- Sección de comentarios -->

    <div class="mb-5">

        <div class="mb-4">

            <h2 class="text-2xl mb-5 font-bold">Comentarios del recibo</h2>

            <h2 class="text-lg mb-5">Acá debería ir el field para agregar el comentario</h2>

            <button class="bg-indigo-900 hover:bg-blue-900 text-white py-2 px-4 rounded hover:font-semibold" style="width: 16rem;">
                Agregar comentario
            </button>

        </div>
    
    </div>

    <div class="bg-white shadow-md rounded-lg p-6 w-full mb-10">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Comentarios</h2>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Descripción</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Aquí va cada fila, hay 2 ejemplos de filas -->

                    <!-- Primer ejemplo -->

                    <tr class="hover:bg-gray-50 transition duration-200">
                        <td class="border px-4 py-2 text-sm text-gray-700">Sis</td>
                    </tr>

                    <!-- Segundo ejemplo -->

                    <tr class="hover:bg-gray-50 transition duration-200">
                        <td class="border px-4 py-2 text-sm text-gray-700">Non</td>
                    </tr>


                </tbody>
            </table>
        </div>
                


    </div>



    <button class="bg-indigo-900 hover:bg-blue-900 text-white py-2 px-4 rounded hover:font-semibold w-full mt-5">
        Generar recibo
    </button>



</section>

{% endblock %}