{% extends "base.html" %}
{% load tailwind_tags %}

{% block scripts %}
{% endblock %}


{% block content %}

<section class="propietario p-6 rounded-lg relative flex justify-center">

  
    <div class="bg-white rounded-lg shadow-md mb-10 " style="width: 60rem;">  
  
      <div class="flex flex-wrap flex-column w-full">
  
      <div class="p-20 pb-12 pr-10 pl-10 w-full">

    <div class="mb-4 flex-row flex justify-between">

        <!-- Aquí va el nombre de la residencia -->
        <h2 class="text-xl font-bold mb-5 pr-64">{{edif.nombre_edif}}</h2>

        <!-- Aquí va el RIF de la residencia -->
        <h1 class="text-l font-bold mb-5"> Rif: J-{{edif.rif}}</h1>
    </div>

    <div class="mb-4">
        
        <!-- Aquí va la dirección de la residencia -->
        <h1 class="text-l font-bold mb-5">{{edif.direccion_edif}}</h1>
    </div>

    <div class="mb-4 mt-10 flex flex-row justify-center">
        <!-- Aquí va el mes del recibo -->
        <h2 class="text-l font-bold mb-5">Fecha del recibo de condominio: {{fecha_escrita}}</h2>

    </div>

    <div class="pb-0 pl-0 border-2 border-gray-800 rounded-lg bg-white">

        <div class="w-full flex flex-row justify-around">
            
            <div class=" flex flex-row justify-center border-2 border-transparent border-r-gray-500 pr-8">
                <!-- Acá va el nombre del propietario -->
                <h1 class="text-l font-bold my-3 mr-3">Propietario: {{prop.nombre_prop}}</h1>

            </div>

            <div class="flex flex-row justify-center border-2 border-transparent border-r-gray-500 pr-14">
                <!-- Acá va la alícuota -->
                <h1 class="text-l font-bold my-3 mr-3">Alícuota: {{dpto.alicuota}}%</h1>

            </div>

            <div class=" flex flex-row justify-center pr-6">
                <!-- Acá va el departamento -->
                <h1 class="text-l font-bold my-3 mr-3">Apartamento: {{dpto.id_dpto}}</h1>

            </div>

        </div>
        

        <div class=" pl-5 border-y-2 border-gray-800 flex flex-row justify-between bg-gray-300">

            <div class=" flex flex-row">
                <h1 class="text-l font-bold my-3 mr-2"></h1>
            
                <!-- Acá va el mes siguiente del recibo -->
                <h1 class="text-l font-bold my-3">Presupuesto para el mes de {{mes_siguiente}}, {{ano_siguiente}}</h1>

            </div>

        </div>

        <div class="border-2 border-b-gray-800 flex flex-row justify-between px-5 items-center">

            <h1 class="text-l font-bold my-3">Descripción de presupuesto</h1>
            <h1 class="text-l my-3 font-bold">Monto</h1>
  
        </div>

        <!-- Aquí va cada campo de presupuesto, siguiendo la siguiente estructura: -->

        {% for monto in monto_presupuestos %}
            <div class="px-5 flex flex-row justify-between border border-b-gray-800">

                <h1 class="text-sm my-2">{{monto.titulo}}</h1>
                <h1 class="text-sm my-2">{{monto.monto}}</h1>

            </div>
        {% endfor %}

        <!-- Aquí empieza la sección de presupuesto -->
         
        <div class="pl-5 border border-b-500 border-transparent pr-5 flex flex-row justify-between">

            <!-- Aquí va el mes siguiente al recibo -->
            <h1 class="text-l font-bold my-2">Subtotal presupuesto:</h1>

            <!-- Aquí va el subtotal del presupuesto para el mes -->
            <h1 class="text-l my-2">{{subtotal}}$</h1>


        </div>

        <div class="flex flex-row justify-between px-5">

            <h1 class="text-l font-bold my-2">Fondo de reserva 50%:</h1>

            <!-- Aquí va el fondo de reserva 50% -->
            <h1 class="text-l my-2">{{reserva}}$</h1>


        </div>

        <div class=" px-5 border-2 border-transparent border-b-gray-800 flex flex-row justify-between">

            <h1 class="text-l font-bold my-2">Fondo para gastos imprevistos:</h1>

            <!-- Aquí van los fondos para gastos imprevistos -->
            <h1 class="text-l my-2">{{fondo}}$</h1>


        </div>

        
        <div class=" px-5  flex flex-row justify-between" style="background-color: #ffff00;">

            <h1 class="text-l font-bold my-3">Total presupuesto para {{mes_siguiente}}</h1>

            <!-- Aquí va el presupuesto total del mes siguiente al recibo -->
            <h1 class="text-l font-bold my-3">{{total}}$</h1>


        </div>


        <div class="border-y-2 border-gray-800 flex flex-row justify-between px-5">

            <h1 class="text-l font-bold my-3">Alícuota de su apartamento (correspondiente a los gastos comunes): </h1>

            <!-- Aquí va el porcentaje de la alícuota que representa o que ocupa el apartamento del propietario -->
            <h1 class="text-l font-bold my-3">{{dpto.alicuota}}%</h1>

            <!-- Acá primero va la moneda en la que está el costo y después va el monto como tal (de la alícuota) -->
            <h1 class="text-l font-bold my-3">{{total_alicuota}}$</h1>



        </div>

        <!-- Aquí empieza la sección de gastos directos -->

        <div class="border-y-2 border-b-gray-800 flex flex-row justify-between pl-5 bg-gray-300">

            <h1 class="text-l font-bold my-3">Gatos directos de su apartamento</h1>

        </div>

        <div class="border-2 border-b-gray-800 flex flex-row justify-between px-5 items-center">

            <h1 class="text-l font-bold my-3">Descripción de gasto directo</h1>
            <h1 class="text-l my-3 font-bold">Monto</h1>
  
        </div>

        <!-- Aquí va cada campo de gastos directos, siguiendo la siguiente estructura: -->

        {% for monto in monto_directos %}
            <div class="px-5 flex flex-row justify-between border border-b-gray-800">

                <h1 class="text-sm my-2">{{monto.titulo}}</h1>
                <h1 class="text-sm my-2">{{monto.monto}}</h1>

            </div>
        {% endfor %}

        <div class="border border-y-gray-500 px-5 flex flex-row justify-between">

            <h1 class="text-l font-bold my-3">Total gatos directos de su apartamento:</h1>

            <!-- Aquí va el monto (que sería la suma de todos los montos anteriores) -->
            <h1 class="text-l font-bold my-3">{{suma_directos}}$</h1>

        </div>

        <div class="border-2 border-gray-800 px-5 flex flex-row justify-between items-center">

            <h1 class="text-l font-bold my-3 max-w-xl">Total alícuota más gastos directos de su apartamento correspondiente al mes de: {{mes_siguiente}}, {{ano_siguiente}}</h1>

            <!-- Aquí va primero la moneda en la que está el monto y luego el monto en sí (que sería la suma de todos los montos de los gastos directos incluyendo la alícuota) -->
            <h1 class="text-l font-bold my-3">{{totales}}$</h1>

        </div>

        <div class="border border-y-gray-800 px-5 flex flex-row justify-between">

            <h1 class="text-l font-bold my-3">Atrasos (monto contable de recibos no pagados al cierre del mes)</h1>

            <!-- Aquí va primero la moneda en la que está el monto y luego el monto en sí (que sería la suma de todos los montos de los gastos directos incluyendo la alícuota) -->
            <h1 class="text-l font-bold my-3 text-red-600">{{deudaFinal}}$</h1>

        </div>

        <div class="border-2 border-gray-800 px-5 flex flex-row justify-between" style="background-color: #ffff00;">

            <h1 class="text-l font-bold my-3">Total a pagar (Alícuota más acumulado por pagar de su apartamento):</h1>

            <!-- Aquí va primero la moneda en la que está el monto y luego el monto en sí (que sería la suma de todos los montos de los gastos directos incluyendo la alícuota) -->
            <h1 class="text-l font-bold my-3">{{totalPagar}}$</h1>

        </div>
        {% for comentario in comentarios %}
            <div class=" pl-5 border border-b-gray-800 pr-5 flex flex-col items-center text-center">

                <h1 class="text-l font-bold my-3 max-w-2xl">{{comentario.desc_comentario}}</h1>

            </div>
        {% endfor %}
        
    </div>


  </div> 
</section>



<!-- Aquí va la segunda parte del recibo -->


<section class="propietario p-6 rounded-lg relative flex justify-center">

  
    <div class="bg-white rounded-lg shadow-md mb-10 " style="width: 60rem;">  
  
      <div class="flex flex-wrap flex-column w-full">
  
      <div class="p-20 pb-12 pr-10 pl-10 w-full">
  
      <div class="mb-4 flex-row flex justify-between">
  
          <!-- Aquí va el nombre de la residencia -->
          <h2 class="text-xl font-bold mb-5 pr-64">{{edif.nombre_edif}}</h2>
  
          <!-- Aquí va el RIF de la residencia -->
          <h1 class="text-l font-bold mb-5"> Rif: J-{{edif.rif}}</h1>
      </div>
  
      <div class="mb-4">
          
          <!-- Aquí va la dirección de la residencia -->
          <h1 class="text-l font-bold mb-5">{{edif.direccion_edif}}</h1>
      </div>
  
      <div class="mb-4 mt-10 flex flex-row justify-center">
          <!-- Aquí va el mes del recibo -->
          <h2 class="text-l font-bold mb-5">Fecha del recibo de condominio: {{fecha_escrita}}</h2>
  
      </div>
  
      <div class="pb-0 pl-0 border-2 border-gray-800 rounded-lg bg-white">
  
          <div class="w-full flex flex-row justify-around">
              
              <div class=" flex flex-row justify-center border-2 border-transparent border-r-gray-800 pr-8">
                  <!-- Acá va el nombre del propietario -->
                  <h1 class="text-l font-bold my-3 mr-3">Propietario: {{prop.nombre_prop}}</h1>
  
              </div>
  
              <div class="flex flex-row justify-center border-2 border-transparent border-r-gray-800 pr-14">
                  <!-- Acá va la alícuota -->
                  <h1 class="text-l font-bold my-3 mr-3">Alícuota: {{dpto.alicuota}}%</h1>
  
              </div>
  
              <div class=" flex flex-row justify-center pr-6">
                  <!-- Acá va el departamento -->
                  <h1 class="text-l font-bold my-3 mr-3">Apartamento: {{dpto.id_dpto}}</h1>
  
              </div>
  
          </div>
          
  
          <div class=" pl-5 border-t-2 border-gray-800 flex flex-row bg-gray-300">
  
              <div class=" flex flex-row">
              
                  <!-- Acá va el mes del recibo -->
                  <h1 class="text-l font-bold my-3">Gastos aplicados</h1>
  
              </div>
  
          </div>

          <div class="border-2 border-y-gray-800 flex flex-row justify-between px-5 items-center">

            <h1 class="text-l font-bold my-3">Descripción de gastos aplicados</h1>
            <h1 class="text-l my-3 font-bold">Monto</h1>
  
        </div>
  
          <!-- Aquí va cada campo de gasto aplicado, siguiendo la siguiente estructura: -->
  
          {% for monto in monto_gastos %}
              <div class="px-5 flex flex-row justify-between border border-transparent border-t-gray-400">
  
                  <h1 class="text-sm my-2">{{monto.titulo}}</h1>
                  <h1 class="text-sm my-2">{{monto.monto}}</h1>
  
              </div>
          {% endfor %}
  
          
  
          <div class="border-2 border-gray-800 px-5 flex flex-row justify-end rounded-b-lg" style="background-color: #ffff00;">
  
              <h1 class="text-l font-bold my-3 mr-5">Total de débitos en cuentas:</h1>
  
              <!-- Aquí va el monto (que sería la suma de todos los montos anteriores) -->
              <h1 class="text-l font-bold my-3">{{gastoFinalbs}}{{gastoFinaldl}}</h1>
  
          </div>

  
        </div> 
        
    </div> 
  </section>




  <!-- Aquí va la tercera parte del recibo -->


<section class="propietario p-6 rounded-lg relative flex justify-center ">

  
    <div class="bg-white rounded-lg shadow-md mb-10" style="width: 60rem;">  
  
      <div class="flex flex-wrap flex-column w-full">
  
      <div class="p-20 pb-12 pr-10 pl-10 w-full">
  
      <div class="mb-4 flex-row flex justify-between">
  
          <!-- Aquí va el nombre de la residencia -->
          <h2 class="text-xl font-bold mb-5 pr-64">{{edif.nombre_edif}}</h2>
  
          <!-- Aquí va el RIF de la residencia -->
          <h1 class="text-l font-bold mb-5"> Rif: J-{{edif.rif}}</h1>
      </div>
  
      <div class="mb-4">
          
          <!-- Aquí va la dirección de la residencia -->
          <h1 class="text-l font-bold mb-5">{{edif.direccion_edif}}</h1>
      </div>
  
      <div class="mb-4 mt-10 flex flex-row justify-center">
          <!-- Aquí va el mes del recibo -->
          <h2 class="text-l font-bold mb-5">Fecha del recibo de condominio: {{fecha_escrita}}</h2>
  
      </div>
  
      <div class="pb-0 pl-0 border-2 border-gray-800 rounded-lg bg-white">
  
          <div class="w-full flex flex-row justify-around">
              
              <div class=" flex flex-row justify-center border-2 border-transparent border-r-gray-800 pr-8">
                  <!-- Acá va el nombre del propietario -->
                  <h1 class="text-l font-bold my-3 mr-3">Propietario: {{prop.nombre_prop}}</h1>
  
              </div>
  
              <div class="flex flex-row justify-center border-2 border-transparent border-r-gray-800 pr-14">
                  <!-- Acá va la alícuota -->
                  <h1 class="text-l font-bold my-3 mr-3">Alícuota: {{dpto.alicuota}}%</h1>
  
              </div>
  
              <div class=" flex flex-row justify-center pr-6">
                  <!-- Acá va el departamento -->
                  <h1 class="text-l font-bold my-3 mr-3">Apartamento: {{dpto.id_dpto}}</h1>
  
              </div>
  
          </div>


          <div class="border-2 border-transparent border-y-gray-800 flex flex-row justify-between px-5 items-center " style="background-color: #ffff00;">

            <!-- Acá va el el monto del total de condominios por cobrar -->
            <h1 class="text-l font-bold my-3">Total condominios vencidos por cobrar: {{montoDeudasTotales}}$</h1>

            <div class="flex flex-row justify-between">

                <h1 class="text-l font-bold my-3">Apartamentos deudores:</h1>

                <div class="flex flex-row justify-between">

                    <!-- Aquí se ponen los apartamentos que deben -->
                    {% for Apto in dptosDeudores%}
                        <h1 class="text-l font-bold m-3">{{Apto.id_dpto}}</h1>
                    {% endfor %}

                </div>

            </div>
            

          </div>


          <div class="px-5 flex flex-row bg-gray-300">
  
            <h1 class="text-l font-bold my-3 mr-5">Fondo de reserva:</h1>

          </div>


          <div class="border-2 border-t-gray-800 border-transparent flex flex-row px-5 items-center">

            <!-- Acá va el el monto del total del fondo de reserva estimado -->
            <h1 class="text-l font-bold my-3">Total estimado: {{sumaHipotetica}}$.</h1>

            <!-- Acá va el el monto del total del fondo de reserva estimado -->
            <h1 class="text-l font-bold my-3 mx-2">Menos condominios por cobrar: {{montoDeudasTotales}}$.</h1>


          </div>

          <div class="border-2 border-t-gray-800 border-transparent flex flex-row px-5 items-center justify-center">

            <!-- Acá va el el monto del total del fondo de reserva estimado -->
            <h1 class="text-l font-bold my-3">Saldo fondo de reserva hasta la fecha: {{fondoActualdl.saldo_fondo}}$</h1>

          </div>


          <div class="border-2 border-gray-800 border-b-transparent border-x-transparent flex flex-row px-5  bg-amber-200">

            <h1 class="text-l font-bold my-3">Cuenta en dólares ($):</h1>

          </div>


          <div class="border-2 border-gray-800 flex flex-col border-b-transparent border-x-transparent">
  

            <div class="flex flex-row justify-center">
  
                <div class="flex flex-col items-center border-2 border-t-gray-800 border-transparent w-full">
  
                    <h1 class="text-l font-bold mb-3 border-2 border-b-gray-800 border-transparent px-5 w-full py-2 text-center">Saldo mes anterior:</h1>
                    <h1 class="text-l mb-2">{{fondoAnteriordl.saldo_fondo}}$</h1>

                </div>


                <div class="flex flex-col items-center border-2 border-gray-800 border-b-transparent w-full">
  
                    <h1 class="text-l font-bold mb-3 border-2 border-b-gray-800 border-transparent px-5 w-full py-2 text-center">Ingresos del mes:</h1>
                    <h1 class="text-l mb-2">{{fondoActualdl.ingresos}}$</h1>

                </div>

                <div class="flex flex-col items-center border-2 border-t-gray-800 border-transparent w-full">
  
                    <h1 class="text-l font-bold mb-3 border-2 border-b-gray-800 border-transparent px-5 w-full py-2 text-center">Egresos del mes:</h1>
                    <h1 class="text-l mb-2">{{fondoActualdl.egresos}}$</h1>

                </div>
    
            </div>

          </div>

          <div class="border-2 border-gray-800 border-b-transparent border-x-transparent flex flex-row px-5 justify-end">

            <h1 class="text-l font-bold my-3">Cuenta en dólares a la fecha:</h1>
            <h1 class="text-l font-bold m-3">{{fondoActualdl.saldo_fondo}}$</h1>

          </div>


          <div class="border-2 border-gray-800 border-b-transparent flex flex-row px-5  bg-amber-200 border-x-transparent">

            <h1 class="text-l font-bold my-3">Cuenta en bolívares (Bs.):</h1>

          </div>


          <div class="border-2 border-gray-800 flex flex-col border-x-transparent">
  

            <div class="flex flex-row justify-center">
  
                <div class="flex flex-col items-center border-2 border-t-gray-800 border-transparent w-full">
  
                    <h1 class="text-l font-bold mb-3 border-2 border-b-gray-800 border-transparent px-5 w-full py-2 text-center">Saldo mes anterior:</h1>
                    <h1 class="text-l mb-2">{{fondoAnteriorbs.saldo_fondo}} Bs.</h1>

                </div>


                <div class="flex flex-col items-center border-2 border-gray-800 border-b-transparent w-full">
  
                    <h1 class="text-l font-bold mb-3 border-2 border-b-gray-800 border-transparent px-5 w-full py-2 text-center">Ingresos del mes:</h1>
                    <h1 class="text-l mb-2">{{fondoActualbs.ingresos}} Bs.</h1>

                </div>

                <div class="flex flex-col items-center border-2 border-t-gray-800 border-transparent w-full">
  
                    <h1 class="text-l font-bold mb-3 border-2 border-b-gray-800 border-transparent px-5 w-full py-2 text-center">Egresos del mes:</h1>
                    <h1 class="text-l mb-2">{{fondoActualbs.egresos}} Bs.</h1>

                </div>
    
            </div>

          </div>

          <div class="border-2 border-gray-800 border-transparent flex flex-row px-5 justify-end rounded-b-lg">

            <h1 class="text-l font-bold my-3">Cuenta en bolívares a la fecha:</h1>
            <h1 class="text-l font-bold m-3">{{fondoActualbs.saldo_fondo}} Bs.</h1>

          </div>

  
        </div> 

        <div class="flex flex-row px-5 mt-20 mb-6 justify-center">

            <h1 class="text-xl font-bold my-3">Relación de pagos pendientes y abonos</h1>

        </div>

        <div class="flex justify-center mb-3">

            <div class="flex flex-col justify-between border-2 border-gray-800 rounded-lg">

                <div class="flex flex-row justify-center items-center w-fit">

                    <h1 class="text-l font-bold p-3 border-b-transparent border-2 border-r-gray-800 border-transparent text-center" style="width: 10rem;">Mes adeudado</h1>

                    <h1 class="text-l font-bold p-3 border-b-transparent border-2 border-r-gray-800 border-transparent text-center" style="width: 10rem;">Monto deuda</h1>

                    <h1 class="text-l font-bold p-3 border-b-transparent border-2 border-r-gray-800 border-transparent text-center" style="width: 10rem;">Abonos</h1>

                    <h1 class="text-l font-bold p-3 border-b-transparent border-2 border-transparent text-center" style="width: 10rem;">Saldo a la fecha</h1>

                </div>
                {%for Adeudado in listaAdeudado%}
                    <div class="flex flex-row justify-between pr-5 w-full border-t-2 border-gray-800">


                        <h1 class="text-l font-bold text-center p-3 border-2 border-r-gray-800 border-transparent" style="width: 10rem;">{{Adeudado.fechaAdeudado}}</h1>


                        <h1 class="text-l text-end p-3 border-2 border-r-gray-800 border-transparent" style="width: 10rem;">{{Adeudado.deudaAdeudado}}</h1>


                        <h1 class="text-l text-end p-3 border-2 border-r-gray-800 border-transparent" style="width: 10rem;">{{Adeudado.importeAdeudado}}</h1>


                        <h1 class="text-l text-end p-3 border-2 border-transparent" style="width: 10rem;">{{Adeudado.sumaAdeudado}}</h1>


                    </div>
                {%endfor%}
                </div>
        </div>
        
    </div> 
  </section>

{% endblock %}