{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Mensual</title>
    {% tailwind_css %}
</head>
<body>
    {% include 'layout/navbar.html' %}

    <section class="p-6 rounded-lg w-screen flex justify-center">
        <div class="flex flex-col w-full max-w-4xl bg-gray-300 rounded-lg shadow-md p-6">
            <!-- Título del reporte -->
            <h2 class="text-2xl font-bold mb-6 text-center">Reporte Mensual de Ingresos y Egresos</h2>

            <!-- Formulario de filtrado -->
            <form method="get" action="" class="mb-8">
                <div class="flex flex-wrap -mx-4 ">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="w-full bg-indigo-900 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded mt-4">
                    Filtrar
                </button>
            </form>

            <!-- Sección de Ingresos -->
            <div class="mb-8">
                <h3 class="text-xl font-bold mb-4">Ingresos</h3>
                <ul class="bg-white rounded-lg shadow-md p-4">
                    {% for ingreso in ingresos %}
                    <li class="border-b border-gray-200 py-2">
                        {{ ingreso.fecha_fondo }} - {{ ingreso.detalles_fondo }} - {{ ingreso.ingresos }}
                    </li>
                    {% endfor %}
                </ul>
                <p class="text-right font-bold mt-2">Total Ingresos: Bs. {{ total_ingresos }}</p>
            </div>

            <!-- Sección de Egresos -->
            <div class="mb-8">
                <h3 class="text-xl font-bold mb-4">Egresos</h3>
                <ul class="bg-white rounded-lg shadow-md p-4">
                    {% for egreso in egresos %}
                    <li class="border-b border-gray-200 py-2">
                        {{ egreso.fecha_fondo }} - {{ egreso.detalles_fondo }} - {{ egreso.egresos }}
                    </li>
                    {% endfor %}
                </ul>
                <p class="text-right font-bold mt-2">Total Egresos: Bs. {{ total_egresos }}</p>
            </div>

            <!-- Sección de Gastos -->
            <div class="mb-8">
                <h3 class="text-xl font-bold mb-4">Gastos</h3>
                <ul class="bg-white rounded-lg shadow-md p-4">
                    {% for gasto in gastos %}
                    <li class="border-b border-gray-200 py-2">
                        {{ gasto.fecha_gasto }} - {{ gasto.titulo_gasto }} - {{ gasto.monto_gasto_dl }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Sección de Presupuestos -->
            <div class="mb-8">
                <h3 class="text-xl font-bold mb-4">Presupuestos</h3>
                <ul class="bg-white rounded-lg shadow-md p-4">
                    {% for presupuesto in presupuestos %}
                    <li class="border-b border-gray-200 py-2">
                        {{ presupuesto.fecha_pres }} - {{ presupuesto.titulo_pres }} - {{ presupuesto.monto_pres_dl }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</body>
</html>