{% extends 'base.html' %}
{% block content %}
<h2>Reporte Mensual de Ingresos y Egresos</h2>
<form method="get" action="">
    {{ form.as_p }}
    <button type="submit">Filtrar</button>
</form>

<h3>Ingresos</h3>
<ul>
    {% for ingreso in ingresos %}
        <li>{{ ingreso.fecha_fondo }} - {{ ingreso.detalles_fondo }} - {{ ingreso.ingresos }}</li>
    {% endfor %}
</ul>
<p>Total Ingresos: {{ total_ingresos }}</p>

<h3>Egresos</h3>
<ul>
    {% for egreso in egresos %}
        <li>{{ egreso.fecha_fondo }} - {{ egreso.detalles_fondo }} - {{ egreso.egresos }}</li>
    {% endfor %}
</ul>
<p>Total Egresos: {{ total_egresos }}</p>

<h3>Gastos</h3>
<ul>
    {% for gasto in gastos %}
        <li>{{ gasto.fecha_gasto }} - {{ gasto.titulo_gasto }} - {{ gasto.monto_gasto_dl }}</li>
    {% endfor %}
</ul>

<h3>Presupuestos</h3>
<ul>
    {% for presupuesto in presupuestos %}
        <li>{{ presupuesto.fecha_pres }} - {{ presupuesto.titulo_pres }} - {{ presupuesto.monto_pres_dl }}</li>
    {% endfor %}
</ul>
{% endblock %}